{% extends 'base.html.twig' %}

{% block title %}Hackaton | Clients{% endblock %}

{% block body %}
    <a href="{{ path('app_main') }}" class="text-sky-700 hover:text-sky-400 font-semibold text-white flex items-center">
        &larr; Retour
    </a>

    <section class="flex items-center justify-between mx-64 my-4 text-white font-semibold">
        <h1 class="text-3xl">Liste des clients</h1>
        <a class="bg-amber-600 p-2 rounded-xl" href="{{ path('app_client_new') }}">Créer un client</a>
    </section>

    <section class="flex items-center justify-center my-8">
        <div class="w-full max-w-6xl px-4">
            <form action="{{ path('app_clients') }}" method="get" class="relative flex items-center">
                <span class="absolute left-4 text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a7 7 0 107 7 7 7 0 00-7-7zM7 11l-4 4m4 0l4 4"></path>
                    </svg>
                </span>
                <input 
                    type="text" 
                    name="search" 
                    value="{{ search }}" 
                    class="w-full pl-12 pr-4 py-2 rounded-lg border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-amber-600 focus:border-ring-amber-600" 
                    placeholder="Rechercher par id, nom, ou email...">
                <button type="submit" class="ml-4 bg-blue-600 text-white p-2 rounded-lg hover:bg-blue-700 transition duration-200">
                    Rechercher
                </button>
            </form>
        </div>
    </section>

    <section class="flex items-center justify-center mt-4 text-white">
        <div class="overflow-x-auto w-full max-w-6xl bg-white rounded-lg shadow-lg">
            <table class="min-w-full border-collapse">
                <thead class="bg-slate-500 text-white">
                    <tr>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Id</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Nom</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Email</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Entreprise</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Factures</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Montant total</th>
                        <th class="px-4 py-2 text-center border-b border-gray-300">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for client in clientsSearch %}
                    <tr class="hover:bg-gray-100 text-center">
                        <td class="px-4 py-2 text-gray-700">{{ client.id }}</td>
                        <td class="px-4 py-2 text-gray-700">{{ client.name }}</td>
                        <td class="px-4 py-2 text-gray-700">{{ client.email }}</td>
                        <td class="px-4 py-2 text-gray-700">{{ client.entreprise }}</td>
                        <td class="text-white">
                            <p class="bg-amber-700 rounded-xl mx-12 p-1">{{ client.factures | length }}</p>
                        </td>

                        <td class="px-4 py-2 text-gray-700">
                            {% if client.factures | length > 0 %}
                                {{ client.totalMontant }}€
                            {% else %}
                                Aucun montant trouvé
                            {% endif %}
                        </td>
                        <td class="px-4 py-2 text-center flex justify-center gap-4">
                            <form action="{{ path('app_client_delete', {'id': client.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="bg-red-800 p-2 rounded-lg hover:underline font-semibold">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="px-4 py-2 text-center text-gray-500">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="flex justify-center my-4">
        <nav>
            <ul class="inline-flex space-x-2">
                {% if currentPage > 1 %}
                    <li>
                        <a 
                            href="{{ path('app_clients', {'page': currentPage - 1, 'search': search}) }}" 
                            class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-blue-500">
                            &laquo; Précédent
                        </a>
                    </li>
                {% endif %}
                {% for i in 1..totalPages %}
                    <li>
                        <a 
                            href="{{ path('app_clients', {'page': i, 'search': search}) }}" 
                            class="px-4 py-2 rounded-lg 
                                   {% if i == currentPage %}bg-blue-500 text-white{% else %}bg-gray-200{% endif %}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}
                {% if currentPage < totalPages %}
                    <li>
                        <a 
                            href="{{ path('app_clients', {'page': currentPage + 1, 'search': search}) }}" 
                            class="px-4 py-2 rounded-lg bg-gray-200 hover:bg-blue-500">
                            Suivant &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>
{% endblock %}
