{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ facture.numero }}</td>
            </tr>
            <tr>
                <th>DateEnvoie</th>
                <td>{{ facture.dateEnvoie ? facture.dateEnvoie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ facture.statut }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    <a href="{{ path('app_facture_edit', {'numero': facture.numero}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
